version: "3.9"

services:
  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run dev
    depends_on:
      - backend

  backend:
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: npm run dev

  nginx:
    build: ./infrastructure/nginx
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
