services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: airtable
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    command: npm run dev
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=airtable
    depends_on:
      - db
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    depends_on:
      - backend

  nginx:
    build: ./infrastructure/nginx
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend

volumes:
  pgdata:
