version: "3.9"

services:
  db:
    image: postgres:16
    restart: always
    env_file:
      - .env.${ENV}   # підхоплюємо .env.local або .env.production
    volumes:
      - ./infrastructure/db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  seed:
    build: ./backend
    command: node seed.js
    depends_on:
      - db
    env_file:
      - .env.${ENV}
    volumes:
      - ./backend:/app
      - /app/node_modules

  backend:
    build: ./backend
    command: npm run dev
    env_file:
      - .env.${ENV}
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - db
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    command: npm run dev
    env_file:
      - .env.${ENV}
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    ports:
      - "3000:3000"

  nginx:
    build: ./infrastructure/nginx
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend

volumes:
  pgdata:
